@import 'mixins/_fonts';
@import 'mixins/_buttonList';
@import 'mixins/_colors';

#root,
#dialog-box {
    @include the-font;
    button {
        border-radius: 24px;
        border: 0;
        height: 48px;
        padding: 0 30px;
    }
    h2 {
        @include the-font;
        color: #454545;
        font-weight: 400;
    }
}

.flex-block {
    display: flex;
    flex-grow: 1;
    &.column {
        flex-direction: column;
    }
    &.row {
        flex-direction: row;
    }
}

.centered-flex-content {
    align-items: center;
}

.screen {
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-shrink: 0;

    input {
        width: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
}

.buttonListNew {
    @include buttonListNew;
    padding-top: 30px;
    &.row {
        flex-direction: row;
    }
    &.stack {
        justify-content: space-between;
        height: 120px;
        flex-direction: column;
    }
    &.tight {
        padding: 0;
        margin: 0;
    }
    &.loose * {
        padding: 10px;
        margin: 10px;
    }
    button.secondary {
        background-color: $secondary-color !important;
        color: $secondary-offset !important;
    }
}

.full-width,
.full-width * {
    width: 100%;
}

.rtl {
    direction: rtl !important;
}

.hidden {
    display: none !important;
}
