@import 'mixins/_fonts';
@import 'mixins/_colors';

.qr-loading-title {
    color: $secondary-offset !important;
    padding-top: 15px;
    text-align: center;
}

.button-verify:disabled {
    background: gray !important;
    color: white !important;
}

#qr-loader {
    display: flex;
    justify-content: center;
}

.qr-icon {
    position: absolute;
    margin-top: 0;
    background: #fff;
    border-radius: 50%;
    &.dialog-icon {
        margin-top: 0;
    }
}

#qr-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.qrButtons {
    padding-top: 30px;
    margin-bottom: 30px;
    button {
        margin: 100px 20px;
        text-transform: none;
        font-size: 1.2em !important;
        width: 200px;
    }
}

.qr-reset {
    background-color: salmon !important;
    color: #fff !important;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.status-text {
    font-size: 2em !important;
    padding-top: 25px;
    padding-bottom: 50px;
}

.status-report {
    max-width: 500px;
}

.error-description {
    font-size: 1.4em !important;
    padding-top: 20px;
}

.dialog-icon {
    width: 56px !important;
    height: 56px !important;
    &.error {
        fill: $error-color;
    }
    &.warning {
        fill: $warning-color;
        z-index: 1;
        margin-bottom: 20px;
        background-color: $warning-offset;
        border-radius: 40px;
    }
    &.verified {
        fill: #27c9ce;
    }
    &.verifying {
        color: $primary-color;
    }
}
