@import 'mixins/_fonts';
@import 'mixins/_colors';

.ProfileCard {
    .export-profile {
        @include the-font;
        background: $primary-color !important;
        display: block;
        color: $primary-offset;
        margin: 20px auto;
        width: 300px;
    }
}

.important-buttons {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.PictureProfile {
    width: 200px;
    border: 1px solid gray;
    background: #f2f2f2;
}

.SignatureName {
    border: 1px solid gray;
    background: #f2f2f2;
}

img.PictureProfile {
    width: 200px;
    display: block;
    margin: 0px auto;
}

img.SignatureName {
    width: 300px;
    display: block;
}

.ProfileCardContainer {
    width: 600px;
    margin: 0 auto;

    .ProfileCard {
        width: 600px;
        display: flex;
        overflow: hidden;

        .Column1 {
            width: 0px;
            background: #f4f8f9;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .BigAvatar {
                width: 125px;
                height: 125px;
                margin-bottom: 20px;
            }

            .InputId {
            }

            .FullName {
                font-weight: bold;
                margin-top: 10px;
            }

            .ProfileCardMenus {
                display: flex;
                flex-direction: column;
                margin-top: 90px;
                width: 100%;

                .ProfileCardMenuItem:hover,
                .selected {
                    font-size: 16px;
                    font-weight: bold;
                    color: $primary-color;
                    cursor: pointer;
                }

                .ProfileCardMenuItem {
                    font-size: 16px;
                    height: 100px;
                    line-height: 100px;
                    text-align: center;
                    border-top: 1px solid $secondary-color;
                }
            }
        }

        .Column2 {
            width: 700px;
            background: white;

            h3 {
                color: $primary-color;
                font-size: 26px;
                text-align: center;
                font-weight: bolder;
                margin: 20px 0px;
                margin-top: 40px;
                width: 100%;
            }

            .ProfileItemContainer {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 50px;
                padding-bottom: 30px;

                .FieldCard {
                    &.wide {
                        margin: 10px 30px;
                        width: 90%;
                    }

                    &.wide2 {
                        clear: both;
                        flex-basis: 50%;
                        margin-right: 0px;
                    }

                    width: 40%;
                    margin: 10px 30px;
                    min-height: 60px;
                    border-bottom: 1px solid $secondary-color;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    .FieldCardTitle {
                        font-weight: bold;
                        font-size: 13px;
                        color: #aaa;
                    }

                    .FieldCardValue {
                        font-weight: lighter;
                        font-size: 15px;
                        color: #454545;
                        margin-top: 6px;
                    }
                }
            }
        }
    }
}
