@import '../../../css/mixins/_fonts';
@import '../../../css/mixins/_colors';

button.finger-select {
    @include the-font;
    background: $primary-color !important;
    color: $primary-offset;
    margin: 100px;
    width: 300px;
}

.FingerContainer {
    width: 400px;
    height: 300px;
    background-size: contain;
    position: relative;
}
