@import '../../../css/mixins/_fonts';
@import '../../../css/mixins/_colors';

.Confirmation {
    &.screen {
        h2 {
            @include the-font;
        }
        .accept {
            background: $primary-color;
            color: $primary-offset;
            margin: 10px;
            @include the-font;
        }
    }
    .pr-loader {
        display: flex;
        justify-content: center;
    }
    .loader-text {
        margin-top: 10px;
    }
    .dialog-icon.error {
        width: 100% !important;
    }
    .status-report {
        margin-bottom: 10px;
    }
}

.legal-terms-section {
    width: 550px;
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    margin: 10px;
    border: 2px solid $secondary-color;
    font-family: 'Montserrat', Helvetica, sans-serif;

    p {
        padding: 0 0 10px;
    }

    .legal-terms1 {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 15px;
        strong {
            font-weight: bold;
            color: $primary-color;
            text-transform: uppercase;
        }
    }

    .legal-terms2 {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 20px;
        padding-bottom: 20px;
        text-align: justify;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        p {
            width: 40%;
        }

        li {
            text-align: start;
        }
    }
}
