@import 'mixins/_fonts.scss';
@import 'mixins/_colors.scss';

.VerificationRequirement {
    &.screen {
        h2 {
            @include the-font;
        }
        .accept {
            background: $primary-color;
            color: $primary-offset;
            margin: 10px;
            @include the-font;
        }
    }
    .pr-loader {
        display: flex;
        justify-content: center;
    }
    .loader-text {
        margin-top: 10px;
    }
}

.MuiFormControl-root.form-control {
    min-width: 200px;
}
