$primary-color: #24778b;
$primary-offset: white;
$secondary-color: #e7e7e7;
$secondary-offset: #333;
$error-color: #b65f57;
$error-offset: white;
$warning-color: #fff625;
$warning-offset: #000;
$verification-color: deepskyblue;
$verification-offset: white;
$issue-color: gold;
$issue-offset: black;
